{% extends 'record/base.html' %}
{% load static %}


{% block content %}

<div class="container my-5">
    <div class="container my-5 justify-content-center d-flex align-items-cente">
        <div id="form-add" style="display:none;" class="col-sm-8">
            {% include 'partials/_category-record.html' %}
        </div>
        {% include 'partials/_alerts.html' %}
        
    </div>
    
    <div class="my-3 justify-content-end d-flex align-items-end">
        <button type="button" class="btn btn-success " id="toggle-button" onclick="toggleForm()">Add</button>
    </div>

    {% if categories_dict %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center d-flex align-items-cente">
        {% for category, records in categories_dict.items %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>{{ category.name }}</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Data</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records %}
                            <tr>
                                <td>{{ record.description }}</td>
                                <td>{{ record.date }}</td>
                                <td>
                                    <button
                                        class="btn btn-primary edit-button d-flex flex-column flex-md-row align-items-md-center"
                                        data-id="{{ record.id }}">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td>
                                    <button
                                        class="btn btn-danger delete-button d-flex flex-column flex-md-row align-items-md-center"
                                        data-id="{{ record.id }}">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>



<script src="{% static 'js/script.js' %}"></script>
<script>
    // mostra e esconde a div para adicionar uma nova categoria
    function toggleForm() {
        var formSection = document.getElementById("form-add");
        var toggleButton = document.getElementById("toggle-button");
        if (formSection.style.display === "none") {
            formSection.style.display = "block";
            toggleButton.classList.remove("btn-success");
            toggleButton.classList.add("btn-danger");
            toggleButton.innerHTML = "cancel";

        } else {
            formSection.style.display = "none";
            toggleButton.classList.remove("btn-danger");
            toggleButton.classList.add("btn-success");
            toggleButton.innerHTML = "Add";
        }
    }

    // selecione todos os botões de editar e adicione um evento de clique a eles
    var editButtons = document.querySelectorAll('.edit-button');
    editButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            // obtenha o id do registro a partir do valor do atributo data-id do botão de editar
            var recordId = button.getAttribute('data-id');

            // redirecione para a página de edição correspondente
            window.location.href = `/category-record/edit/${recordId}/`;
        });
    });

    // selecione todos os botões de deletar e adicione um evento de clique a eles
    var deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            // obtenha o id do registro a partir do valor do atributo data-id do botão de deletar
            var recordId = button.getAttribute('data-id');

            // exiba uma mensagem de confirmação antes de excluir o registro
            if (confirm('Tem certeza que deseja deletar este registro?')) {
                // obtenha o valor do token CSRF do cookie
                const csrftoken = getCookie('csrftoken');

                // faça uma solicitação POST para excluir o registro
                fetch(`/category-record/delete/${recordId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({})
                })
                    .then(response => {
                        // recarregue a página após a exclusão do registro
                        window.location.reload();
                    });
            }
        });
    });




</script>



{% endblock %}