{% extends 'record/base.html' %}
{% load static %}


{% block content %}

<div class="container my-5 col-sm-8">
    <div class="card shadow mb-3" id="form-add" style="display:none;">
        <div class="card-header">
            <h1>Category Record</h1>
        </div>
        <div class="card-body ">
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3 col-sm-3">
                    <label for="{{ form.date.id_for_label }}">Date:</label>
                    {{ form.date }}
                </div>
                <div class="form-group mb-3">
                    <label for="{{ form.category.id_for_label }}">Category:</label>
                    {{ form.category }}
                </div>
                <div class="form-group mb-3">
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    {{ form.description }}
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                {% include 'partials/_alerts.html' %}
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success " id="toggle-button" onclick="toggleForm()">Add</button>
    </div>

    {% if categories %}
    <div class="container card my-3">
        <form method="GET" class="form-inline mb-3">
            <div class="form-group mb-3">
                <label for="category_filter">Categoria:</label>
                <input type="text" class="form-control" name="category_filter" id="category_filter">
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <!-- <th>Usuário</th> -->
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.fk_category }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.date }}</td>
                    <!-- <td>{{ category.fk_user }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>


<script>
    function toggleForm() {
        var formSection = document.getElementById("form-add");
        var toggleButton = document.getElementById("toggle-button");
        if (formSection.style.display === "none") {
            formSection.style.display = "block";
            toggleButton.classList.remove("btn-success");
            toggleButton.classList.add("btn-danger");
            toggleButton.innerHTML = "Cancelar";
        } else {
            formSection.style.display = "none";
            toggleButton.classList.remove("btn-danger");
            toggleButton.classList.add("btn-success");
            toggleButton.innerHTML = "Add";
        }
    }
</script>


{% endblock %}