{% extends 'record/base.html' %}
{% load static %}

{% block content %}
<div class="my-5 col-md-12 container-fluid">
    <h2 class="text-center mb-4 text-white bg-black p-3">GIFT CARDS</h2>
</div>

<div class="container my-5 col-sm-8">

    {% for type, gifts in gifts_dict.items %}
    <div class="col">
        <div class="card shadow my-3">
            <table class="table table-hover">
                <div class="card-header">
                    <h3>{{ type }}</h3>
                </div>
                <div class="card-body">
                    <thead>
                        <tr>
                            <th>Gift ID</th>
                            <th>Created</th>
                            {% if type == "used" %}
                            <th>Used</th>
                            {% else %}
                            <th>To use</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for gift in gifts %}
                        <tr>
                            <td>{{ gift.id }}</td>
                            <td>{{ gift.creation_date }}</td>
                            {% if type == "used" %}
                            <td>{{ gift.conclusion_date }}</td>
                            {% else %}
                            <td>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="gift_id" value="{{ gift.id }}">
                                    <button type="submit" class="btn btn-primary">Use</button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </div>
            </table>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}