{% extends 'record/base.html' %}
{% load static %}

{% block content %}

<style>
    .card {
        background-color: #f7f7f7;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-title {
        color: #343a40;
        font-weight: bold;
    }

    th {
        color: #343a40;
        font-weight: bold;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<div class="container-fluid py-5">
    <div class="col-md-12">
        <h2 class="text-center mb-4 text-white bg-black p-3">SCOREBOARD</h2>
    </div>
    <div class="row justify-content-center">
        {% for score in scoreboard %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{score.user_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total Coins: {{score.coins}}</h6>
                    <hr>
                    <table class="table table-hover">
                        <thead class="tablets">
                            <tr>
                                <th>Category</th>
                                <th>Qty. Records</th>
                                <th>Category Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in score.categories_list %}
                            <tr>
                                <td>{{category.category_name }}</td>
                                <td>{{category.category_records_qty }}</td>
                                <td>{{category.category_reward_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                    <p class="card-text">Used Gifts: {{score.gifts_used}}</p>
                    <p class="card-text">Unused Gifts: {{score.unused_gifts}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}