<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard</title>
</head>
<body>
    <h3>Placar</h3>
    <div class="container"> 
        <table>
            <tr>
                <th>Name</th>
                <th>Coins</th>
            </tr>
            {% for score in scoreboard %}
            <tr>
                <td>{{score.user_name}}</td>
                <td>{{score.coins}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
    

</body>
</html>