{% load static %}
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="w3-bar-item w3-button">HOME</a>
      <a href="scoreboard.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> SCOREBOARD</a>
      <a href="daily-goal-record.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> RECORD</a>
      <a href="admin" class="w3-bar-item w3-button w3-hide-small w3-right"><i class="fa fa-user"></i> LOGIN</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
        <i class="fa fa-search"></i>
      </a>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-right">
      <a href="admin" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGIN</a>
      <a href="scoreboard.html" class="w3-bar-item w3-button" onclick="toggleFunction()">SCOREBOARD</a>
      <a href="daily-goal-record.html" class="w3-bar-item w3-button" onclick="toggleFunction()">RECORD</a>
      <a href="#" class="w3-bar-item w3-button">SEARCH</a>
    </div>
</div>

<script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }
    
    // Change style of navbar on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
        var navbar = document.getElementById("myNavbar");
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
        } else {
            navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
        }
    }
    
    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>